
@{
    Layout = null;
}

<div class="headerBox">
    <div class="headerBoxHeader">
        <img src="~/pictures/lawsuit/lawsuit.svg" width="60" height="60"/>
        <a href="#">Sıradaki Duruşma</a>
    </div>
    <div class="headerBoxContent">
        <label>Dosya Adı: Hakan DİNÇTÜRK</label>
        <label>Sıra: 4.Celse</label>
        <label>Durum: Tarih Verildi</label>
        <label>Tarih: 01.01.2000</label>
    </div>
</div>