@using Microsoft.AspNetCore.Identity
@using DntHukuk.Web.Areas.Identity.Data

@inject Microsoft.AspNetCore.Identity.SignInManager<DntHukuk.Web.Areas.Identity.Data.ApplicationUser> signInManager;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DntHukuk</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap" rel="stylesheet">
    <link href="~/css/navBar.css" rel="stylesheet" />
    <link href="~/css/sideBar.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/headerBox.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header class="headerContainer">
        <nav class="headerNavbar">
            <div class="secondHeaderContainer">
                <a asp-controller="Home" asp-action="Index"><img src="~/pictures/logoH1.svg" width="200" height="100" style="color:#5C5C5C;" class="headerLogo" /></a>
                <div class="navMenu">
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container2">
        <main role="main" class="">
            <partial name="~/Views/Shared/_SideBar.cshtml" />
            <div style="width:82vw; margin-left:calc(18vw - 10px)">
                @RenderBody()
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
