
<div class="sideBarContainer">
    <div class="sideBarWrapper">
        <img src="~/pictures/blank-profile.png" width="100" height="100"/>
        <label class="userNameLabel">Hakan DİNÇTÜRK</label>
        <label class="accessLevelLabel">Admin</label>
        <div class="sideBarMenu">
            <ul>
                <li>
                    <a>Müvekkiller <i class="fas fa-chevron-down ki"></i></a>
                    <div class="subMenu">
                        <a class="subMenuItem">Müvekkil Ekle</a>
                        <a class="subMenuItem">Müvekkil Listesi</a>
                    </div>
                </li>

                <li>
                    <a>Dosyalar <i class="fas fa-chevron-down ki"></i></a>
                    <div class="subMenu">
                        <a class="subMenuItem">Dosya Ekle</a>
                        <a class="subMenuItem">Dosya Listesi</a>
                    </div>
                </li>

                <li>
                    <a>Duruşmalar <i class="fas fa-chevron-down ki"></i></a>
                    <div class="subMenu">
                        <a class="subMenuItem">Duruşma Ekle</a>
                        <a class="subMenuItem">Duruşma Listesi</a>
                    </div>

                <li>
                    <a>Görevler <i class="fas fa-chevron-down ki"></i></a>
                    <div class="subMenu">
                        <a class="subMenuItem">Görev Ekle</a>
                        <a class="subMenuItem">Görev Listesi</a>
                    </div>

                <li>
                    <a>Tebligatlar <i class="fas fa-chevron-down ki"></i></a>
                    <div class="subMenu">
                        <a class="subMenuItem">Tebligat Ekle</a>
                        <a class="subMenuItem">Tebligat Listesi</a>
                    </div>
                </li>

                <li>
                    <a>Görüşme & Randevular <i class="fas fa-chevron-down ki"></i></a>
                    <div class="subMenu">
                        <a class="subMenuItem">Görüşme & Randevu Ekle</a>
                        <a class="subMenuItem">Görüşme & Randevu Listesi</a>
                    </div>
                </li>

                <li>
                    <a>Ayarlar</a>
                </li>
            </ul>
        </div>
    </div>
</div>