
@{
    ViewData["Title"] = "Bulunamadı..";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.ErrorMessage</h1>

<a asp-action="Index" asp-controller="home" class="btn btn-primary"> Ana sayfaya dönmek için basınız..</a>



