
@{
    Layout = null;
}

<div class="headerBox headerBoxTumDosyalar">
    <div class="headerBoxHeader">
        <img src="~/pictures/user/user.svg" width="30" height="30" />
        <a href="#">Tüm Müvekkiller</a>
    </div>
    <div class="headerBoxContent headerBoxContentTumDosyalar">
        <div class="text-center">
            BURASI DOLDURULACAK(tablo-veri)
        </div>
    </div>
</div>