@model IEnumerable<MuvekkilTurleri>

<select name="muvekkilTurleriDropDown">
    @foreach (var item in Model)
    {
        <option value="@item.muvekkilTuruId">@item.muvekkilTuruAdi</option>
    }
</select>