@model IEnumerable<Durusma>
@{
    Layout = null;
}

<div class="headerBox headerBoxTumDosyalar">
    <div class="headerBoxHeader">
        <img src="~/pictures/lawsuit/lawsuit.svg" width="30" height="30" />
        <a asp-controller="Durusma" asp-action="Listele">Sıradaki Duruşmalar</a>
    </div>
    <div class="headerBoxContent headerBoxContentTumDosyalar">
        <table class="table">
            <thead>
                <tr>
                    <th>Dosya Adı</th>
                    <th>Mahkeme Açıklama</th>
                    <th>Durum</th>
                    <th>Tarih</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@await DntHukuk.Web.ViewComponents.SiradakiDurusmalarBoxViewComponent.DosyaIdToName(item.DosyaId)</td>
                        <td>@item.MahkemeAciklama</td>
                        <td>@await DntHukuk.Web.ViewComponents.SiradakiDurusmalarBoxViewComponent.DurusmaDurumuIdToName(item.DurusmaTuruId)</td>
                        <td>@item.DurusmaTarihi</td>
                        <td><a asp-controller="Durusma" asp-action="Detay" asp-route-id="@item.DurusmaId" title="Görüntüle"><i class="far fa-eye i"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>