
@{
    ViewData["Title"] = "Dosya Ekle";
}

@section Styles{
    <link href="~/css/dosyaTuruSec.css" rel="stylesheet" />
}

<div class="dosyaTurleriWrapper">
    <a asp-controller="" asp-action="" class="icra">İcra</a>
    <a asp-controller="" asp-action="" class="hukuk">Hukuk</a>
    <a asp-controller="" asp-action="" class="ceza">Ceza</a>
    <a asp-controller="" asp-action="" class="idare">İdare</a>
</div>

