
@{
    ViewData["Title"] = "Dosya Ekle";
}

@section Styles{
    <link href="~/css/dosyaTuruSec.css" rel="stylesheet" />
}

<div class="dosyaTurleriWrapper">
    <a asp-controller="IcraHukuku" asp-action="IcraHukukuDosyaEkle" class="icra">İcra</a>
    <a asp-controller="HukukMahkemesi" asp-action="HukukMahkemesiDosyaEkle" class="hukuk">Hukuk</a>
    <a asp-controller="CezaMahkemesi" asp-action="CezaMahkemesiDosyaEkle" class="ceza">Ceza</a>
    <a asp-controller="IdareMahkemesi" asp-action="IdareMahkemesiDosyaEkle" class="idare">İdare</a>
</div>

