@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <partial name="~/Views/Shared/_SideBar.cshtml" />
    <div style="width:82vw; position:relative; left:18vw; right:auto; top:auto; bottom:auto; height:100vh;">
        <h1 class="display-4">Welcome</h1>
        <p>DNT Hukuk - Yapım Aşamsında</p>
    </div>
</div>
