@{
    ViewData["Title"] = "Ana Sayfa";
}

@section Styles{ 
    
}
<body>
    <div class="upperContent">
        <div class="infoSide">
            @await Component.InvokeAsync("SiradakiDurusmaBox")
            @await Component.InvokeAsync("DosyalarBox")
            @await Component.InvokeAsync("MuvekillerBox")
        </div>
        <div class="infoSide2">
            @await Component.InvokeAsync("NotlarBox")
        </div>
    </div>
    <div class="mainContent">
        @await Component.InvokeAsync("TumDosyalarBox")
        @await Component.InvokeAsync("TumMuvekkillerBox")
        @await Component.InvokeAsync("SiradakiDurusmalarBox")
    </div>
</body>
............