@{
    ViewData["Title"] = "Home Page";
}

    <partial name="~/Views/Shared/_SideBar.cshtml" />
    <div class="contentSide">
        <div class="upperContent">
            <div class="infoSide">
                @await Component.InvokeAsync("SiradakiDurusmaBox")
                @await Component.InvokeAsync("DosyalarBox")
                @await Component.InvokeAsync("MuvekillerBox")
            </div>
            <div class="infoSide2">
                @await Component.InvokeAsync("NotlarBox")
            </div>
        </div>
        <div class="mainContent">

        </div>
    </div>
