@model Dosyalar

@{
    ViewData["Title"] = "Icra Hukuk Dosya Duzenle";
}


@section Styles{
    <link href="~/css/dosya.css" rel="stylesheet" />
}
<div class="dosyaWrapper">
    <div class="dosyaHeader">
        <img src="~/pictures/user/user.svg" width="45" height="45" />
        <label class="dosyaHeaderTitle">Icra Hukuku Dosya Ekle</label>
    </div>
    <div class="dosyaContent">
        <form asp-controller="IcraHukuku" asp-action="IcraHukukuDosyaDuzenle" method="post">
            <input asp-for="DosyaId" hidden/>
            <div class="dosyaContentRow1">
                <div class="form-group">
                    <label asp-for="MuvekkilId" class="control-label"></label>
                    @await Component.InvokeAsync("MuvekkillerDropDown", new { muvekkilId = Model.MuvekkilId, sadeceOkunur = true })
                    <span asp-validation-for="MuvekkilId" class="text-danger"></span>
                </div>
                <div class="form-group ml-4">
                    <label asp-for="SorumluAvukatId" class="control-label"></label>
                    @await Component.InvokeAsync("SorumluAvukatDropDown", new { avukatId = Model.SorumluAvukatId })
                    <span asp-validation-for="SorumluAvukatId" class="text-danger"></span>
                </div>
            </div>
            <div class="dosyaContentRow1 dosyaContentRow2">
                <div class="form-group">
                    <label asp-for="MuvekkilKonumuId" class="control-label"></label>
                    @await Component.InvokeAsync("IcraMahkemesiMuvekkilKonumuDropDown", new { muvekkilKonumuId = Model.MuvekkilKonumuId })
                    <span asp-validation-for="MuvekkilKonumuId" class="text-danger"></span>
                </div>
            </div>
            <div class="dosyaContentRow1 dosyaContentRow2">
                <div class="form-group">
                    <label asp-for="DosyaDurumuId" class="control-label"></label>
                    @await Component.InvokeAsync("DosyaDurumuDropDown", new { dosyaDurumuId = Model.DosyaDurumuId })
                    <span asp-validation-for="DosyaDurumuId" class="text-danger"></span>
                </div>
            </div>
            <div class="dosyaContentRow1 datepicker">
                <div class="form-group">
                    <label asp-for="DosyaBaslamaTarihi" class="control-label"></label>
                    <input asp-for="DosyaBaslamaTarihi" class="form-control" />
                    <span asp-validation-for="DosyaBaslamaTarihi" class="text-danger"></span>
                </div>
                <div class="form-group ml-4 datepicker dosyaBitisTarihiRow">
                    <label asp-for="DosyaBitisTarihi" class="control-label"></label>
                    <input asp-for="DosyaBitisTarihi" class="form-control" />
                    <span asp-validation-for="DosyaBitisTarihi" class="text-danger"></span>
                </div>
            </div>
            <div class="dosyaContentRow1 dosyaContentRow3">
                <div class="form-group">
                    <label asp-for="DosyaKonu" class="control-label"></label>
                    <input asp-for="DosyaKonu" class="form-control" />
                    <span asp-validation-for="DosyaKonu" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="dosyaContentRow1 dosyaContentRow3">
                <div class="form-group">
                    <label asp-for="DosyaAdi" class="control-label"></label>
                    <input asp-for="DosyaAdi" class="form-control" />
                    <span asp-validation-for="DosyaAdi" class="text-danger"></span>
                </div>
            </div>

            <div class="dosyaContentRow1 dosyaContentRow2">
                <div class="form-group">
                    <label asp-for="DosyaSehir" class="control-label"></label>
                    <input asp-for="DosyaSehir" class="form-control" />
                    <span asp-validation-for="DosyaSehir" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DosyaIlce" class="control-label"></label>
                    <input asp-for="DosyaIlce" class="form-control" />
                    <span asp-validation-for="DosyaIlce" class="text-danger"></span>
                </div>
            </div>
            <div class="dosyaContentRow1 dosyaContentRow3 dosyaContentRow4">
                <div class="form-group">
                    <label asp-for="DosyaMahkemeAdi" class="control-label"></label>
                    <input asp-for="DosyaMahkemeAdi" class="form-control" />
                    <span asp-validation-for="DosyaMahkemeAdi" class="text-danger"></span>
                </div>
                <div class="form-group width15">
                    <label asp-for="DosyaSiraNo" class="control-label"></label>
                    <input asp-for="DosyaSiraNo" class="form-control" />
                    <span asp-validation-for="DosyaSiraNo" class="text-danger"></span>
                </div>
            </div>
            <div class="dosyaContentRow1 dosyaContentRow3">
                <div class="form-group">
                    <label asp-for="DosyaSonDurum" class="control-label"></label>
                    <input asp-for="DosyaSonDurum" class="form-control" />
                    <span asp-validation-for="DosyaSonDurum" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="dosyaContentRow1 dosyaContentRow3">
                <div class="form-group">
                    <label asp-for="DosyaMuvekkilEvraklariPath" class="control-label"></label>
                    <div class="custom-file">
                        <label asp-for="DosyaMuvekkilEvraklariPath" class="custom-file-label"style="background: #ddd;">
                            <a href="~/userUploadedFile/@Model.DosyaKarsiTarafEvraklariPath">
                                @Model.DosyaKarsiTarafEvraklariPath
                            </a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="dosyaContentRow1 dosyaContentRow3">
                <div class="form-group">
                    <label asp-for="DosyaKarsiTarafEvraklariPath" class="control-label"></label>
                    <div class="custom-file">
                        <label asp-for="DosyaKarsiTarafEvraklariPath" class="custom-file-label"style="background: #ddd;">
                            <a href="~/userUploadedFile/@Model.DosyaKarsiTarafEvraklariPath">
                                @Model.DosyaKarsiTarafEvraklariPath
                            </a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="dosyaContentRow1 dosyaContentRow3">
                <div class="form-group">
                    <label asp-for="DosyaMerciEvraklari" class="control-label"></label>
                    <div class="custom-file">
                        <label asp-for="DosyaMerciEvraklari" class="custom-file-label" style="background: #ddd;">
                            <a href="~/userUploadedFile/@Model.DosyaMerciEvraklari">
                                @Model.DosyaMerciEvraklari
                            </a>
                        </label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="dosyaContentRow1 dosyaContentRow3">
                <div class="form-group">
                    <label asp-for="DosyaKarsiTarafBilgi" class="control-label">Karşı Taraf Bilgi</label>
                    <input asp-for="DosyaKarsiTarafBilgi" class="form-control" />
                    <span asp-validation-for="DosyaKarsiTarafBilgi" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class="dosyaContentRow1 dosyaContentRow5">
                    <button asp-controller="Muvekkil" asp-action="Listele" class="btn btn-danger">İptal</button>
                    <button class="btn btn-primary">Düzenle</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next(".custom-file-label").html(fileName);
            });
            var selectedType2 = $("select.dosyaDurumuIdDropDown").children("option:selected").text();
            if (selectedType2 != "Devam Ediyor") {
                $(".dosyaBitisTarihiRow").removeClass("rowHidden");
                $(".dosyaBitisTarihiRow").addClass("rowShow");
            }
            else {

                $(".dosyaBitisTarihiRow").removeClass("rowShow");
                $(".dosyaBitisTarihiRow").addClass("rowHidden");
            }


            $(document).ready(function () {
                $("select.dosyaDurumuIdDropDown").change(function () {
                    var selectedType = $(this).children("option:selected").text();
                    if (selectedType != "Devam Ediyor") {
                        $(".dosyaBitisTarihiRow").removeClass("rowHidden");
                        $(".dosyaBitisTarihiRow").addClass("rowShow");
                    }
                    else {

                        $(".dosyaBitisTarihiRow").removeClass("rowShow");
                        $(".dosyaBitisTarihiRow").addClass("rowHidden");
                    }
                });
            });

        });
    </script>
}

<!--

<h1>IcraHukukDosyaDuzenle</h1>

<h4>Dosyalar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IcraHukukDosyaDuzenle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SorumluAvukatId" class="control-label"></label>
                <input asp-for="SorumluAvukatId" class="form-control" />
                <span asp-validation-for="SorumluAvukatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MuvekkilId" class="control-label"></label>
                <input asp-for="MuvekkilId" class="form-control" />
                <span asp-validation-for="MuvekkilId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MuvekkilKonumuId" class="control-label"></label>
                <input asp-for="MuvekkilKonumuId" class="form-control" />
                <span asp-validation-for="MuvekkilKonumuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaDurumuId" class="control-label"></label>
                <input asp-for="DosyaDurumuId" class="form-control" />
                <span asp-validation-for="DosyaDurumuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaBaslamaTarihi" class="control-label"></label>
                <input asp-for="DosyaBaslamaTarihi" class="form-control" />
                <span asp-validation-for="DosyaBaslamaTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaBitisTarihi" class="control-label"></label>
                <input asp-for="DosyaBitisTarihi" class="form-control" />
                <span asp-validation-for="DosyaBitisTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaAdi" class="control-label"></label>
                <input asp-for="DosyaAdi" class="form-control" />
                <span asp-validation-for="DosyaAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaSehir" class="control-label"></label>
                <input asp-for="DosyaSehir" class="form-control" />
                <span asp-validation-for="DosyaSehir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaIlce" class="control-label"></label>
                <input asp-for="DosyaIlce" class="form-control" />
                <span asp-validation-for="DosyaIlce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaMahkemeAdi" class="control-label"></label>
                <input asp-for="DosyaMahkemeAdi" class="form-control" />
                <span asp-validation-for="DosyaMahkemeAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaSiraNo" class="control-label"></label>
                <input asp-for="DosyaSiraNo" class="form-control" />
                <span asp-validation-for="DosyaSiraNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaKonu" class="control-label"></label>
                <input asp-for="DosyaKonu" class="form-control" />
                <span asp-validation-for="DosyaKonu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaSonDurum" class="control-label"></label>
                <input asp-for="DosyaSonDurum" class="form-control" />
                <span asp-validation-for="DosyaSonDurum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaMuvekkilEvraklari" class="control-label"></label>
                <input asp-for="DosyaMuvekkilEvraklari" class="form-control" />
                <span asp-validation-for="DosyaMuvekkilEvraklari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaKarsiTarafEvraklari" class="control-label"></label>
                <input asp-for="DosyaKarsiTarafEvraklari" class="form-control" />
                <span asp-validation-for="DosyaKarsiTarafEvraklari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaMerciEvraklari" class="control-label"></label>
                <input asp-for="DosyaMerciEvraklari" class="form-control" />
                <span asp-validation-for="DosyaMerciEvraklari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaKarsiTarafBilgi" class="control-label"></label>
                <input asp-for="DosyaKarsiTarafBilgi" class="form-control" />
                <span asp-validation-for="DosyaKarsiTarafBilgi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosyaTuru" class="control-label"></label>
                <input asp-for="DosyaTuru" class="form-control" />
                <span asp-validation-for="DosyaTuru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
    -->
