@model IEnumerable<Dosyalar>
@{
    Layout = null;
}

<div class="headerBox headerBoxTumDosyalar">
    <div class="headerBoxHeader">
        <img src="~/pictures/folder/folder.svg" width="30" height="30" />
        <a asp-controller="Dosyalar" asp-action="Listele">Tüm Dosyalar</a>
    </div>
    <div class="headerBoxContent headerBoxContentTumDosyalar">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 10%;">Dosya No</th>
                    <th style="width: 60%;">Dosya Adı</th>
                    <th style="width: 23%;">Sorumlu Avukat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DosyaId</td>
                        <td>@item.DosyaAdi</td>
                        <td>@await DntHukuk.Web.ViewComponents.TumDosyalarBoxViewComponent.AvukatIdToName(item.SorumluAvukatId)</td>
                        <td><a asp-controller="Dosyalar" asp-action="Detay" asp-route-id="@item.DosyaId" title="Görüntüle"><i class="far fa-eye i"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>