    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .sideBarContainer {
        width: 18vw;
        height: 100vh;
        position: fixed;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        background: #f5f5f5;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        overflow: auto;
    }

    .sideBarContainer .sideBarWrapper {
        padding-top: 36px;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .sideBarContainer .sideBarWrapper img {
        border-radius: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .sideBarContainer .sideBarWrapper .userNameLabel {
        margin-top: 16px;
        font-weight: 600;
        font-size: 20px;
        color: #333;
    }

    .sideBarContainer .sideBarWrapper .accessLevelLabel {
        font-weight: 300;
        font-size: 18px;
        color: #333;
    }

    .sideBarContainer .sideBarWrapper .sideBarMenu {
        width: 100%;
        max-width: 100%;
        position: relative;
        margin: 26px 0px 0px 0px;
        border-top: 1px solid rgba(0,0,0, 0.2);
        box-sizing: border-box;
    }

    .sideBarContainer .sideBarWrapper .sideBarMenu > ul {
        width:100%;
        margin:26px 0px 0px 0px;
        padding:0;
        list-style-type: none;
        position:relative;
    }

    .sideBarContainer .sideBarWrapper .sideBarMenu ul li {
        text-decoration: none;
        list-style-type: none;
        text-align: left;
    }

    .sideBarContainer .sideBarWrapper .sideBarMenu ul li a {
        width: 100%;
        font-size: 16px;
        font-weight:600;
        width: 100%;
        padding: 20px 0px 20px 20px;
        display:block;
    }

    .sideBarContainer .sideBarWrapper .sideBarMenu ul li a .ki {
        font-size: 11px;
        margin-left: 5px;
        transform: rotate(-90deg);
        transition: 200ms all;
    }

    .sideBarContainer .sideBarWrapper .sideBarMenu ul li .subMenu {
        padding-left: 20px;
        overflow: hidden;
        opacity: 0;
        margin-top: -75px;
        transition: 200ms ease-out all;
        -webkit-transition: 200ms ease-out all;
    }

    .sideBarContainer .sideBarWrapper .sideBarMenu ul li .subMenu .subMenuItem {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        cursor: pointer;
        padding: 10px 0px 10px 10px;
        display: block;
        overflow:hidden
    }

    .sideBarContainer .sideBarWrapper .sideBarMenu ul li:hover .subMenu {
        margin-top:0px;
        opacity: 1;
        height: auto;
        position: relative;
    }

    .sideBarContainer .sideBarWrapper .sideBarMenu ul li:hover a .ki {
        transform: rotate(0deg);
    }