@model DosyaDurumu

@{
    ViewData["Title"] = "Dosya Durumu Sil";
}


@section Styles{
    <link href="~/css/muvekkil.css" rel="stylesheet" />
    <style>
        .headerBackButton {
            transition: 175ms all ease-in-out;
        }

        .headerBackButton:hover {
            font-size: 16px;
        }
    </style>
}

<h3 class="muvekkilSilH3">Dosya Durumu Silmek İstediğinize Emin Misiniz?</h3>
<div class="muvekkilWrapper">
    <div class="muvekkilEkleHeader">
        <a asp-controller="Ayarlar" asp-action="YoneticiAyarlariListele" style="margin-right:15px; color:#333;" class="headerBackButton"><i class="fas fa-chevron-left ki"></i></a>
        <label class="muvekkilEkleHeaderTitle">Dosya Durumu Sil</label>
    </div>
    <div class="muvekkilEkleContent">
        <form asp-controller="DosyaDurumu" asp-action="DosyaDurumusil" method="post">
            <div class="muvekkilEkleContentRow1">
                <div class="form-group">
                    <label asp-for="dosyaDurumuTuru" class="control-label" readonly></label>
                    <input asp-for="dosyaDurumuTuru" class="form-control" readonly />
                    <span asp-validation-for="dosyaDurumuTuru" class="text-danger" readonly></span>
                </div>
                <div class="muvekkilEkleContentRow5">
                    <button class="btn btn-primary ">Sil</button>
                    <button asp-controller="Ayarlar" asp-action="YoneticiAyarlariListele" class="btn btn-danger">İptal</button>
                </div>
            </div>
        </form>
    </div>
</div>
