@model IcraHukukuMuvekkilKonumu

@{
    ViewData["Title"] = "Icra Hukuku Muvekkil Konumu Düzenle";
}



@section Styles{
    <link href="~/css/muvekkil.css" rel="stylesheet" />
    <style>
        .headerBackButton {
            transition: 175ms all ease-in-out;
        }

        .headerBackButton:hover {
            font-size: 16px;
        }
    </style>
}

<div class="muvekkilWrapper">
    <div class="muvekkilEkleHeader">
        <a asp-controller="Ayarlar" asp-action="YoneticiAyarlariListele" style="margin-right:15px; color:#333;" class="headerBackButton"><i class="fas fa-chevron-left ki"></i></a>
        <label class="muvekkilEkleHeaderTitle">İcra Hukuku Müvekkil Konumu Düzenle</label>
    </div>
    <div class="muvekkilEkleContent">
        <form asp-controller="IcraHukukuMuvekkilKonumu" asp-action="IcraHukukuMuvekkilKonumuDuzenle" method="post">
            <div class="muvekkilEkleContentRow1">
                <div class="form-group">
                    <label asp-for="IcraHukukMuvekkilKonumu" class="control-label"></label>
                    <input asp-for="IcraHukukMuvekkilKonumu" class="form-control" />
                    <span asp-validation-for="IcraHukukMuvekkilKonumu" class="text-danger"></span>
                </div>
                <div class="muvekkilEkleContentRow5">
                    <button class="btn btn-primary ">Düzenle</button>
                    <button asp-controller="Ayarlar" asp-action="YoneticiAyarlariListele" class="btn btn-danger">İptal</button>
                </div>
            </div>
        </form>
    </div>
</div>
