
@{
    Layout = null;
}

<div class="headerBox headerBoxNotlar">
    <div class="headerBoxHeader">
        <img src="~/pictures/notes/notes.svg" width="30" height="30" />
        <a href="#">Notlar</a>
    </div>
    <div class="headerBoxContent headerBoxContentNotlar">
        <div class="text-center">
            BURASI DOLDURULACAK(tablo-veri)
        </div>
    </div>
</div>