@model DntHukuk.Web.Areas.Identity.Data.ApplicationUser

@{
    ViewData["Title"] = "Avukat sil";
}

<hr />
<div class="row">
    <div class="col-md-12" style="padding: 2rem !important;">
        <h1>Avukat Ekle</h1>
        <hr />
        <form asp-controller="AvukatOlustur" asp-action="Sil" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userFirstName" class="control-label">Avukat İsmi</label>
                <input asp-for="userFirstName" class="form-control" readonly/>
                <span asp-validation-for="userFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userLastName" class="control-label">Avukat Soyismi</label>
                <input asp-for="userLastName" class="form-control" readonly/>
                <span asp-validation-for="userLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userEmail" class="control-label">Email</label>
                <input asp-for="userEmail" class="form-control" readonly/>
                <span asp-validation-for="userEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Şifre</label>
                <input asp-for="Password" class="form-control" id="sifre" readonly/>
                <span asp-validation-for="Password" class="text-danger" id="sifreUyari"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="sil" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next(".custom-file-label").html(fileName);
            });
            $(".dosyaBitisTarihiRow").addClass("rowHidden");

            $("#sifre").on("input",function (){
                var uzunluk = $(this).val().length;
                if (uzunluk < 3) {
                    document.getElementById("sifreUyari").innerHTML = "Şifre en az 3 karakter olmalı";
                    $("form").submit(function (e) {
                        e.preventDefault();
                    });
                }
                else {
                    document.getElementById("sifreUyari").innerHTML = "";
                }
            });

            $(document).ready(function () {
                $("select.dosyaDurumuIdDropDown").change(function () {
                    var selectedType = $(this).children("option:selected").text();
                    if (selectedType != "Devam Ediyor") {
                        $(".dosyaBitisTarihiRow").removeClass("rowHidden");
                        $(".dosyaBitisTarihiRow").addClass("rowShow");
                    }
                    else {

                        $(".dosyaBitisTarihiRow").removeClass("rowShow");
                        $(".dosyaBitisTarihiRow").addClass("rowHidden");
                    }
                });
            });

        });
    </script>
}